# Lab Two: Data Cleaning

Data cleaning is the very first part of any data analysis and/or machine learning project. In this lab, you will be going over some of the common data issues and applying suitable fixes.

##### Loading libraries needed and the data

In [ ]:
import pandas as pd
import numpy as np

### Explaining the data we will be using for this and the next few labs

In this example, we have 2 datasets. The datasets from two different hypothetical clinics, "Clinic1" and "Clinic2" which diagnose patients with a novel device that takes many measurements. The final goal is to see if they have a particular disease or not.

Measurements taken from patients in the two clinics are presented in dataframes `Lab2_df1.csv` and we also have an inspection log, recorded in `Lab2_df2.csv` file for the devices used in "Clinic1" and "Clinic2" where many variables from the device are measured.

Two of these variables, `'M1'` and `'M3'`, are believed to affect the readings taken from the patients. The `Lab2_df1` dataset is labelled with an actual diagnosis of whether the patient had the disease or not, and the goal is to predict the existence of the disease based on the measurements taken from the patients. Since the variables of the devices, measured in inspection, affects the measurements taken from patients in clinics, they should also be considered. Here are the data frames:

#### Note: Cells which have '[A]' represents the activity you have to do.

In [ ]:
# loading the 'Lab2_df1.csv' csv data
df1 = pd.read_csv('Lab2_df1.csv')

# This makes it so we are able to see 100 rows when displaying the data
pd.set_option('display.max_rows', 100)

In [ ]:
df1.head(20)

,Unnamed: 0,EDate,Name,Gender,Age,Mode,H,H1,M,DD,Result
0,0,6/10/2011,Cody Watson,male,72,d,_,_,5.058993,1.481877,Negative
1,1,2/20/2011,Jonathan Duke,male,9,e,104.0876332,105.0876332,6.531724,2.266884,Negative
2,2,6/27/2011,Charlene Houseworth,female,59,f,102.9043152,103.9043152,6.273313,0.396333,Positive
3,3,9/22/2010,Gregory Curci,Male,23,g,152.6516553,153.6516553,7.333626,0.557534,Positive
4,4,6/10/2011,Cody Watson,male,72,d,_,_,5.058993,1.481877,Negative
5,5,7/21/2011,Linda Sawicki,female,17,g,67.23905431,68.23905431,3.642516,3.765706,Positive
6,6,5/6/2011,Ruth Morgan,female,19,_,54.0503086,55.0503086,7.193318,-0.173915,_
7,7,7/5/2011,Shane Acosta,male,5,f,47.04644557,48.04644557,4.808863,6.446874,Negative
8,8,10/31/2010,Tania Fuoco,female,41,f,_,_,7.637614,-0.655884,Negative
9,9,5/1/2011,Arla Czachorowski,female,36,f,109.6457241,110.6457241,7.006120,2.405082,Negative
10,10,8/22/2010,Sheila Thomas,female,41,_,108.2721498,109.2721498,7.369781,9.350549,_
11,11,1/24/2011,Jimmy Martinez,male,36,e,106.4035386,107.4035386,4.329964,-2.105617,Positive
12,12,2/4/2011,Phillip Boyd,male,2,f,116.1817452,117.1817452,7.817222,5.456586,Negative
13,13,9/1/2010,John Lesser,male,76,f,_,_,4.193204,-1.491731,_
14,14,6/16/2011,David Montgomery,male,4,f,146.3253216,147.3253216,4.370916,-5.119345,Positive
15,15,6/19/2011,Anita Mcgrew,female,32,e,63.21008797,64.21008797,5.253893,5.946163,Negative
16,16,12/3/2010,Daniel Moore,male,10,e,116.2191531,117.2191531,6.446360,2.041393,Negative
17,17,4/11/2011,Holly Molina,female,43,d,_,_,5.088270,4.504290,Positive
18,18,4/26/2011,Heather Esquivel,female,15,_,33.12832279,34.12832279,6.461212,0.213089,Negative
19,19,2/1/2011,Frankie Mitchener,male,43,f,131.127339,132.127339,4.855666,2.858591,Positive

## Looking at issues with the data

##### Unique values of the `'Gender'` feature.

In [ ]:
df1['Gender'].unique()

array(['male', 'female', 'Male', 'fmeale'], dtype=object)

##### Unique values of the `'Mode'` feature.

In [ ]:
# Unique values of the 'Mode' feature
df1['Mode'].unique()

array(['d', 'e', 'f', 'g', '_', 'F', 'h', 'a'], dtype=object)

##### Observing the data types of each column.

In [ ]:
# Observing the data types of each column
df1.dtypes

Unnamed: 0      int64
EDate          object
Name           object
Gender         object
Age             int64
Mode           object
H              object
H1             object
M             float64
DD            float64
Result         object
dtype: object

# Lab Activity One: Guided Data Cleaning

##### It is generally a good idea to make a copy of the master dataset for cleaning so you can always go back if ever needed.

In [ ]:
df_clean = df1.copy()

##### [A] Drop the `'Unnamed: 0'` column

In [ ]:
# Drop the 'Unnamed: 0' column
df_clean = df_clean.drop('Unnamed: 0', axis=1)

##### [A] Fix the data in the `'Gender'` column.
> Hint: make it so there are 2 unique entries, `'male'` and `'female'`.

In [ ]:
# Fix the 'Gender' column - standardize to 'male' and 'female'
df_clean['Gender'] = df_clean['Gender'].str.strip().str.lower()  # removes leading/trailing spaces and convert all to lowercase
df_clean['Gender'] = df_clean['Gender'].replace({
     'male': 'male', 'Male ': 'male',
     'fmeale': 'female', 'female ': 'female'
})  # Fix typo and corrects both typos and whitespace issues.

Check the 'Gender' column again

In [ ]:
df_clean['Gender'].unique()

array(['male', 'female'], dtype=object)

##### [A] Fix the data in the `'Mode'` column.
> Hint: Check for lower and upper case entries

In [ ]:
# Fix the 'Mode' column - standardize case and handle missing values
df_clean['Mode'] = df_clean['Mode'].str.strip().str.upper()  # Convert all to uppercase
df_clean['Mode'] = df_clean['Mode'].replace('_', pd.NA)  # Replace underscores with NaN
print("Cleaned Mode unique values):", df_clean['Mode'].unique())

Cleaned Mode unique values): ['D' 'E' 'F' 'G' nan 'H' 'A']

### Setting The Correct Data Type

##### [A] Change the `'H'` column to numeric data `type(float64)` instead of `'object'`.

In [ ]:
# Convert 'H' column to numeric, handling non-numeric values
df_clean['H'] = pd.to_numeric(df_clean['H'], errors='coerce')
print(df_clean['H'].head())

0           NaN
1    104.087633
2    102.904315
3    152.651655
4           NaN
Name: H, dtype: float64

*Check* the 'H' column again

In [ ]:
df_clean['H'].dtype

dtype('float64')

##### [A] Convert `'EDate'` column to `datetime` type.

In [ ]:
# Convert 'EDate' to datetime
df_clean['EDate'] = pd.to_datetime(df_clean['EDate'], format='%m/%d/%Y')

In [ ]:
df_clean.dtypes

EDate     datetime64[ns]
Name              object
Gender            object
Age                int64
Mode              object
H                float64
H1                object
M                float64
DD               float64
Result            object
dtype: object

##### Using the `gender_type` key we set the `'Gender'` column as categorical data.

In [ ]:
gender_type = pd.CategoricalDtype(categories=["female", "male"])

df_clean["Gender"] = df_clean["Gender"].astype(gender_type)

In [ ]:
df_clean.dtypes

EDate     datetime64[ns]
Name              object
Gender          category
Age                int64
Mode              object
H                float64
H1                object
M                float64
DD               float64
Result            object
dtype: object

##### [A] Replicate how we changed the gender column to categorical but this time for the `'Mode'` column.

In [ ]:
# Convert 'Mode' to categorical
mode_type = pd.CategoricalDtype(categories=["D", "E", "F", "G", "H", "A"])
df_clean["Mode"] = df_clean["Mode"].astype(mode_type)
df_clean.dtypes

EDate     datetime64[ns]
Name              object
Gender          category
Age                int64
Mode            category
H                float64
H1                object
M                float64
DD               float64
Result            object
dtype: object

##### [A] Again, change the `'Result'` column to categorical replicating above the example above.

In [ ]:
# Convert 'Result' to categorical
result_type = pd.CategoricalDtype(categories=["Negative", "Positive"])
df_clean["Result"] = df_clean["Result"].replace("_", pd.NA)  # Clean invalid values first
df_clean["Result"] = df_clean["Result"].astype(result_type)
df_clean.dtypes

EDate     datetime64[ns]
Name              object
Gender          category
Age                int64
Mode            category
H                float64
H1                object
M                float64
DD               float64
Result          category
dtype: object

### Duplicate Entries
- Duplicate entities in a dataset is not good to have as it  can use overfit and is redundant information

##### [A] Check for duplicate entries and delete them

In [ ]:
duplicate_rows = df_clean.duplicated()

In [ ]:
display(duplicate_rows)

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33    False
34    False
35    False
36     True
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
dtype: bool

before using tilde operator
True = Duplicated, False = not duplicated

After using tilde operator:
False = Duplicated, Trues = Not _ duplicated

In [ ]:
df_clean = df_clean[~duplicate_rows]

In [ ]:
df_clean

,EDate,Name,Gender,Age,Mode,H,H1,M,DD,Result
0,2011-06-10,Cody Watson,male,72,D,NaN,_,5.058993,1.481877,Negative
1,2011-02-20,Jonathan Duke,male,9,E,104.087633,105.0876332,6.531724,2.266884,Negative
2,2011-06-27,Charlene Houseworth,female,59,F,102.904315,103.9043152,6.273313,0.396333,Positive
3,2010-09-22,Gregory Curci,male,23,G,152.651655,153.6516553,7.333626,0.557534,Positive
5,2011-07-21,Linda Sawicki,female,17,G,67.239054,68.23905431,3.642516,3.765706,Positive
6,2011-05-06,Ruth Morgan,female,19,NaN,54.050309,55.0503086,7.193318,-0.173915,NaN
7,2011-07-05,Shane Acosta,male,5,F,47.046446,48.04644557,4.808863,6.446874,Negative
8,2010-10-31,Tania Fuoco,female,41,F,NaN,_,7.637614,-0.655884,Negative
9,2011-05-01,Arla Czachorowski,female,36,F,109.645724,110.6457241,7.006120,2.405082,Negative
10,2010-08-22,Sheila Thomas,female,41,NaN,108.272150,109.2721498,7.369781,9.350549,NaN
11,2011-01-24,Jimmy Martinez,male,36,E,106.403539,107.4035386,4.329964,-2.105617,Positive
12,2011-02-04,Phillip Boyd,male,2,F,116.181745,117.1817452,7.817222,5.456586,Negative
13,2010-09-01,John Lesser,male,76,F,NaN,_,4.193204,-1.491731,NaN
14,2011-06-16,David Montgomery,male,4,F,146.325322,147.3253216,4.370916,-5.119345,Positive
15,2011-06-19,Anita Mcgrew,female,32,E,63.210088,64.21008797,5.253893,5.946163,Negative
16,2010-12-03,Daniel Moore,male,10,E,116.219153,117.2191531,6.446360,2.041393,Negative
17,2011-04-11,Holly Molina,female,43,D,NaN,_,5.088270,4.504290,Positive
18,2011-04-26,Heather Esquivel,female,15,NaN,33.128323,34.12832279,6.461212,0.213089,Negative
19,2011-02-01,Frankie Mitchener,male,43,F,131.127339,132.127339,4.855666,2.858591,Positive
20,2010-10-22,Cecilia Allen,female,33,E,146.680638,147.6806376,5.767645,1.362450,Positive
21,2011-01-27,James Bush,male,40,F,76.439902,77.43990201,6.853351,7.144657,Negative
22,2010-12-21,Mark Yoder,male,44,G,92.054403,93.05440312,5.823945,3.069055,Positive
23,2010-09-03,Marguerite Janis,female,1,F,124.294828,125.294828,6.188929,-4.614200,Positive
24,2011-06-11,Bennie Esker,male,59,E,106.719698,107.7196982,6.085462,-8.263394,NaN
25,2010-11-08,Jamal Mccullough,male,37,F,129.736820,130.7368202,5.858931,2.689617,Negative
26,2011-05-31,Linda Hathaway,female,36,E,86.446664,87.44666438,5.025699,-1.713491,Positive
27,2011-06-14,Kiera Phan,female,18,E,119.601777,120.601777,5.966730,3.440177,Negative
28,2011-03-20,Katherine Collelo,female,47,NaN,123.201676,124.201676,4.843007,5.064505,Positive
29,2010-09-30,David Wuertz,male,83,G,NaN,_,6.725675,-1.294398,Negative
30,2011-08-14,Jaclyn Mcauley,female,81,E,NaN,_,3.702969,-1.740168,Positive
31,2011-04-28,Ramona Crow,female,592,F,91.659868,92.65986797,6.397731,4.106246,Negative
33,2011-04-11,John Castro,male,56,F,NaN,_,5.507379,-2.492783,Negative
34,2011-02-06,Adele Crutchfield,female,10,E,112.728028,113.7280281,4.797970,2.266737,Positive
35,2011-07-01,Bud Ross,male,27,F,72.415300,73.41530029,6.214333,2.746591,Negative
37,2011-01-09,Ruthie Lairy,female,15,NaN,116.144212,117.144212,3.897702,-0.877424,Positive
38,2010-12-15,Daryl Webb,male,34,E,110.581368,111.5813683,5.949869,2.007187,Positive
39,2011-07-27,Heidi Moss,female,18,D,96.770824,97.77082449,5.066335,3.500904,Negative
40,2011-06-07,James Kramer,male,29,F,92.186883,93.18688263,4.192012,-2.593210,Negative
41,2010-12-23,Ernest Oley,male,42,G,NaN,_,6.686434,4.710838,Negative
42,2010-10-05,Jennifer Wagner,female,38,G,119.876747,120.8767474,5.720786,-2.959588,Positive
43,2011-05-27,Todd Renwick,male,24,E,112.919674,113.9196741,6.369615,-2.065630,Negative
44,2011-05-13,Enrique Traino,male,53,F,69.870661,70.87066139,5.600482,-2.195055,Positive
45,2010-10-24,Jeannette Augenstein,female,25,E,84.674508,85.67450841,4.947849,-7.013755,Positive
46,2011-04-19,William Henderson,male,31,F,71.967347,72.96734654,6.730994,-1.491034,Positive
47,2010-09-07,Virginia Howe,female,31,F,92.903873,93.90387335,5.513919,4.808042,Negative
48,2010-12-15,Theodore Wells,male,47,D,85.911229,86.91122925,5.280809,-2.505498,Positive
49,2010-11-12,Stephen Jones,male,48,F,129.145707,130.1457066,5.557521,-1.655331,Negative
50,2010-09-30,Maribel House,female,12,E,118.837180,119.8371796,5.501253,4.932782,Positive
51,2011-04-08,Tosha Mcnelis,female,72,F,120.960522,121.960522,5.554830,3.303376,Negative
52,2011-06-30,William Knuth,male,31,NaN,149.971966,150.9719662,4.714037,-2.236160,Positive
53,2010-10-05,Lori Reynolds,female,54,F,NaN,_,5.483929,1.528417,Negative
54,2011-04-25,Minerva Wilbur,female,13,NaN,101.717648,102.7176477,6.376439,-1.193141,Negative
55,2011-06-26,Stacy Gray,male,15,E,104.192933,105.1929329,5.759295,4.203775,Positive
56,2011-08-04,Sherry Dafonte,female,42,E,109.866307,110.8663068,4.137636,6.405663,Negative
57,2011-08-14,Melvin Yono,male,37,E,100.379104,101.3791042,6.295158,-2.297059,Positive
58,2011-04-19,Robert Young,male,77,F,NaN,_,5.524661,3.867672,Negative
59,2011-05-29,Gerald Salem,male,35,E,98.547989,99.54798923,2.688670,1.897595,Positive
60,2011-05-15,Joseph Beatty,male,33,F,120.669018,121.6690182,5.241279,1.911511,Negative

##### [A] Once you delete a row in your dataset the index of that row is also deleted. Reset the index of the dataset so it in proper order.
> Hint: use the `dataframe.reset_index` function and set the drop parameter to `True`.

In [ ]:
# Reset index after deleting rows
df_clean = df_clean.reset_index(drop=True)

##### [A] Check the data types of your dataframe and print the shape of the dataframe.

In [ ]:
# Check data types
print("Data Types:")
print(df_clean.dtypes)

Data Types:
EDate     datetime64[ns]
Name              object
Gender          category
Age                int64
Mode            category
H                float64
H1                object
M                float64
DD               float64
Result          category
dtype: object

In [ ]:
#Show the size of dataframe
print(f"\nDataFrame Shape: {df_clean.shape}")

DataFrame Shape: (58, 10)

# Lab Activity Two: Clean a Dataset Yourself

In this activity, you will need to clean the dataset yourself using the examples from the activity above. The `Lab2_df2.csv` is loaded and displayed for you.

In [ ]:
#Read Lab2_df2.csv file

df2 = pd.read_csv('Lab2_df2.csv')
df2.head(10)

,Unnamed: 0,Inspection Date,M1,M2,M3,M4,Site Name
0,0,9/4/2010,0.079600881,0.007344,0.542921,0.000074,Clinic1
1,1,9/27/2010,_,0.000204,9.613118,0.000042,Clinic1
2,2,10/6/2010,_,0.000928,4.298943,0.000041,Clinic1
3,3,10/21/2010,0.877617221,0.002254,9.240019,0.000182,Clinic1
4,4,11/26/2010,_,0.008547,6.659528,0.000022,Clinic1
5,5,11/29/2010,0.751824622,0.006172,7.023103,0.000016,Clinic1
6,6,1/4/2011,0.9279763,0.000833,5.473454,0.000124,Clinic2
7,7,1/28/2011,0.905113763,0.008793,7.223218,0.000209,Clinic2
8,8,2/3/2011,0.091880053,0.001529,2.745545,0.000024,Clinic1
9,9,2/4/2011,_,0.007507,4.472094,0.000035,Clinic2

In [ ]:
print("Dataset Info:")
print(df2.info())
print(f"\nDataset Shape: {df2.shape}")

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       22 non-null     int64
 1   Inspection Date  22 non-null     object
 2   M1               22 non-null     object
 3   M2               22 non-null     float64
 4   M3               22 non-null     float64
 5   M4               22 non-null     float64
 6   Site Name        22 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.3+ KB
None

Dataset Shape: (22, 7)

##### [A] Figure out the issues with this dataset and apply the cleaning methods

In [ ]:
# [A] Figure out the issues with this dataset and apply cleaning methods

# Make a copy for cleaning
df2_clean = df2.copy()

# Overview of the data types
print(df2_clean.dtypes)

Unnamed: 0           int64
Inspection Date     object
M1                  object
M2                 float64
M3                 float64
M4                 float64
Site Name           object
dtype: object

In [ ]:
# Issue 1: Drop the unnecessary 'Unnamed: 0' column
df2_clean = df2_clean.drop('Unnamed: 0', axis=1)

In [ ]:
# Issue 2: Convert 'Inspection Date' to datetime
df2_clean['Inspection Date'] = pd.to_datetime(df2_clean['Inspection Date'], format='%m/%d/%Y')
print(df2_clean['Inspection Date'].head())

0   2010-09-04
1   2010-09-27
2   2010-10-06
3   2010-10-21
4   2010-11-26
Name: Inspection Date, dtype: datetime64[ns]

In [ ]:
# Issue 3: Fix M1 column - replace '_' with NaN and convert to numeric
df2_clean['M1'] = df2_clean['M1'].replace('_', pd.NA)
df2_clean['M1'] = pd.to_numeric(df2_clean['M1'], errors='coerce')
print(df2_clean['M1'].head())

0    0.079601
1         NaN
2         NaN
3    0.877617
4         NaN
Name: M1, dtype: float64

In [ ]:
# Issue 4: Convert 'Site Name' to categorical
site_type = pd.CategoricalDtype(categories=["Clinic1", "Clinic2"])
df2_clean['Site Name'] = df2_clean['Site Name'].astype(site_type)
print(df2_clean['Site Name'].head())

0    Clinic1
1    Clinic1
2    Clinic1
3    Clinic1
4    Clinic1
Name: Site Name, dtype: category
Categories (2, object): ['Clinic1', 'Clinic2']

In [ ]:
# Issue 5: Check for duplicates and remove them
df2_clean = df2_clean.drop_duplicates()
print(df2_clean.shape)

(22, 7)

In [ ]:
# Issue 6: Reset index
df2_clean = df2_clean.reset_index(drop=True)
print(df2_clean.head())

   Unnamed: 0 Inspection Date        M1        M2        M3        M4  \
0           0      2010-09-04  0.079601  0.007344  0.542921  0.000074
1           1      2010-09-27       NaN  0.000204  9.613118  0.000042
2           2      2010-10-06       NaN  0.000928  4.298943  0.000041
3           3      2010-10-21  0.877617  0.002254  9.240019  0.000182
4           4      2010-11-26       NaN  0.008547  6.659528  0.000022

  Site Name
0   Clinic1
1   Clinic1
2   Clinic1
3   Clinic1
4   Clinic1

In [ ]:
# Show the clean data
print("Cleaned Dataset:")
df2_clean.head(10)

Cleaned Dataset:

,Unnamed: 0,Inspection Date,M1,M2,M3,M4,Site Name
0,0,2010-09-04,0.079601,0.007344,0.542921,0.000074,Clinic1
1,1,2010-09-27,NaN,0.000204,9.613118,0.000042,Clinic1
2,2,2010-10-06,NaN,0.000928,4.298943,0.000041,Clinic1
3,3,2010-10-21,0.877617,0.002254,9.240019,0.000182,Clinic1
4,4,2010-11-26,NaN,0.008547,6.659528,0.000022,Clinic1
5,5,2010-11-29,0.751825,0.006172,7.023103,0.000016,Clinic1
6,6,2011-01-04,0.927976,0.000833,5.473454,0.000124,Clinic2
7,7,2011-01-28,0.905114,0.008793,7.223218,0.000209,Clinic2
8,8,2011-02-03,0.091880,0.001529,2.745545,0.000024,Clinic1
9,9,2011-02-04,NaN,0.007507,4.472094,0.000035,Clinic2

In [ ]:
# Check the data types and shape
print("Data Types after cleaning:")
print(df2_clean.dtypes)

print(f"\nShape of cleaned dataset: {df2_clean.shape}")

Data Types after cleaning:
Unnamed: 0                  int64
Inspection Date    datetime64[ns]
M1                        float64
M2                        float64
M3                        float64
M4                        float64
Site Name                category
dtype: object

Shape of cleaned dataset: (22, 7)

### Issues Found and Fixed:
- Unnecessary column: 'Unnamed: 0' - dropped

- Date format: 'Inspection Date' - converted from string to datetime

- Missing values in M1: '_' values - replaced with NaN

- Categorical data: 'Site Name' - converted to categorical type

- Duplicates: Checked and removed any duplicate rows

- Index: Reset to proper order